.header {
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    padding: 0 15px;
}

.header .right-header,
.header .left-header {
    display: flex;
    align-items: center;
}

.header .right-header>li>a {
    position: relative;
    display: flex;
}

.header .right-header>li+li {
    margin-left: 20px;
}

.header .right-header>li .link-icon {
    width: 28px;
    height: 28px;
}

.header .right-header .round-badge .MuiBadge-colorPrimary {
    top: 13px;
    right: 16px;
}

@media (max-width:991px) {
    .profile-block {
        padding-right: 18px;
    }

    .header .right-header>li+li {
        margin-left: 18px;
    }
}

@media (max-width:767px) {
    .header {
        padding: 0 10px;
    }

    .profile-block {
        padding-right: 0px;
    }

    .profile-block .username,
    .profile-block::before {
        display: none;
    }

    .profile-block .dp,
    .profile-block .dp img {
        margin: 0;
        width: 38px;
        min-width: 38px;
        height: 38px;
    }

    .header .left-header .logo {
        width: 120px;
    }
    .header .right-header>li .MuiIconButton-root{
        padding: 8px;
    }
    .header .right-header>li+li {
        margin-left: 0px;
    }
}